@import "../global.scss";
.main-container {
  color: #222222;
  display: flex;
  width: 100%;
  height: 75vh;
  max-height: 75%;

  @include mobile {
    flex-direction: column;
  }
  .left-container {
    flex: 0 1 50%;

    .image-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      img {
        width: 90%;
        max-width: 400px;
        height: auto;
        @include mobile {
          padding-top: 15px;
        }
      }
    }
  }

  .right-container {
    flex: 0 1 50%;

    .content-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: left;
      padding: 3em;

      @include mobile {
        justify-content: center;
      }
      p {
        color: #888888;
      }
    }
  }
}
